body{
    background-color: rgb(32,37,161);
    font-size: 2.8vw;
}
nav{
    background: linear-gradient(rgb(32, 37, 161),rgb(74, 238, 101));
    border-radius: 25%;
    opacity: .4;
    position: fixed;
}
#knight{
    width: 6vw;
    padding: 3vw;
}
#jann{
    width:100%;
}
.widify{
    width: 100%;
}
#gh{
    width: 6vw;
    padding: 3vw;
}
#first{
    position: relative;
    top: 17vw;
}
#right{
    float: right;
    padding: 1vw;
}
button{
    background-color:rgb(74, 238, 101);
}